{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% for article in articles %}
    {{ include('article/fragment/articleSummary.html.twig', { article: article }) }}
{% endfor %}

<a href="{{ path('article_index') }}">Todos los artículos</a>
{% endblock %}
