{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1>{{ article.title }}</h1>
    </header>

    {{ article.content|markdown }}

    <footer>
        <time>{{ article.created|format_date("long") }}</time>
    </footer>
</article>
{% endblock %}
